$color-link-primary: #5388de;
$color-primary-green: #41a741;
$color-primary-red: #e64f4f;
$color-primary-orange: #f7944d;
$color-primary-blue: #5B7CD2;
$color-checkbox-label: #8e9194;
$color-empty-message: #88929c;
$color-empty-message-error: #ce6666;
$color-primary-bg: #F5FBFF;
$color-primary-border: #dde3eb;
$color-text-primary: #59606b;
$color-input-placeholder: lighten($color-text-primary, 25%);
$color-widget-border: #e2e5e8;
$color-widget-border-darken: darken($color-widget-border, 4%);
$color-input-deco-color: #ced6de;
$color-input-deco-color-light: #d7dee4;
$color-input-error-borders: #e67070;
$color-input-error-background: #fff4f4;

$control-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
$control-primary-radius: 3px;
$control-height-regular: 34px;  // TODO: add medium, large; Add to buttons
$control-height-large: 40px;
$control-border-size: 1px;  // TODO: add to buttons

$font-default-family: 'TNP-Montserrat', 'Roboto', 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Tahoma, sans-serif;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$app-bar-height: 56px;
$content-max-width: 1000px;

$z-index-app-bar: 5000;
$z-index-panel: 5000;
$z-index-mobile-nav: 7000;
