// NOTE: order is important
@import '../fonts/Montserrat/font.css';
@import './definitions.scss';  // variables
@import './animations.scss';
@import './mixins.scss';
@import './reset.scss';
@import './common.scss';  // common styles & classes
@import './buttons.scss';
@import './inputs.scss';
@import './select.scss';

.page-header {
    display: none;
    color: #656e7d;
    font-size: 24px;
    line-height: 38px;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 20px;

    html.viewport_desktop & {
        display: block;
    }
}
