@import '../../../../../assets/css/definitions.scss';

.toast-manager {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    z-index: $z-index-toasts;
    bottom: 0;
    left: 0;

    html.viewport_mobile & {
        & {
            width: 100%;
            align-items: center;
        }
    }
}
