@import '../../../../assets/css/definitions';

.nav-mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.75);
    user-select: none;
    z-index: $z-index-mobile-nav;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 150ms, opacity 150ms;

    &_open {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 150ms;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__drawer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 150ms ease;
    }

    &_open &__drawer {
        transform: translateX(0);
        transition: transform 150ms ease;
    }

    &__layout {
        display: block;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &_nav {
            padding-top: 40px;
        }
    }

    &__logo {
        margin: 0 auto;
        width: 135px;
        height: 39px;
        background: transparent url('../../../../assets/images/logo.jpg') center center no-repeat;
        background-size: contain;
    }

    &__wrapper {
        margin-top: 40px;
    }

    &__list {
        width: 100%;

        &_langs {
            margin-top: 20px;
        }

        > li {
            padding: 2px;
        }

        &-button,
        &-link {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            border-radius: 6px;
            padding: 12px 15px 12px 20px;
            background-color: #fff;
            width: 100%;
            color: #6f7174;

            &-icon {
                width: 24px;
                height: 24px;
            }

            &-text {
                display: block;
                font-size: 15px;
                line-height: 24px;
                height: 24px;
                vertical-align: middle;
                font-weight: 500;
                color: #53565d;
                margin-right: auto;
                margin-left: 42px;
            }

            &-icon + &-text {
                margin-left: 18px;
            }
        }

        &-button {

        }

        &-link {
            position: relative;

            &,
            &:link,
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }

            &_has-dot:after {
                content: '';
                position: absolute;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                background-color: #ff0000;
                top: 11px;
                left: 43px;
            }
        }
    }

    &__sep {
        width: 100%;
        height: 1px;
        margin: 8px 0;
        background-color: #dde3eb;
    }

    &__langs-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: $app-bar-height;
        color: #6f7174;
        border-bottom: 1px solid #dde3eb;
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-weight-semi-bold;
        padding-left: 20px;

        &-icon {
            display: block;
        }

        &-text {
            display: block;
            padding-left: 20px;
        }
    }
}
